/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/layout.scss";
@import "compass/utilities/general/";
@import "compass/utilities/sprites";
@import "sprite/*.png";


body{background:#fff;}
a{text-decoration:none;}
#wrapper{overflow:hidden;width:100%;height:100%;position:relative;}


.single-year .step{
  width:100%;
  height:100%;
  background-position:center center;
  background-size: cover;
}
.single-year, #years-list{
  width:100%;
}
// esempio fullscreen
#y-2010 .hp{
  background:url('/images/pl-hp.jpg') center top no-repeat;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/pl-hp.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/pl-hp.jpg', sizingMethod='scale')"; 
}

#header{
  position:absolute;
  width:100%;
  h1{
    position:absolute;
    top:44px;
    left:0;
    a.logo{
      display:block;
      width:392px;
      height:23px;
      text-indent:-5000px;
       @include sprite-sprite(logo);
    }
  }
  #navbar{
    position:absolute;
    right:25px;
    top:50px;
    ul{
      li{
        float:left;
        margin-right:35px;
        a{
          color:#fff;
        }
      }
    }
  }
}

@include sticky-footer(30px, "#wrapper", "#wrapper_footer", "#footer");

#footer{
  @include clearfix;
  background:#000;
  padding: 0 35px;
  p{
    color:#fff;
    float:left;
    font:{
      size:1em;
    }
  }
  .logo-prada{
    float:right;
    position:relative;
    span{
      @include sprite-sprite(logo-prada);
      position:absolute;
      width:68px;
      height:13px;
      display:block;
      right:0;
      top:5px;
    }
    padding-right:80px;
  }
}