<section class="step adv {{page_mood}}">
  <div class="aux">
    <a class="link-adv" href="{{link_href}}">
      <img src="{{link_img}}" alt="{{alt_img}}">
    </a>
    <menu class="section-arrow">
      <li><a href="{{prev}}" class="prev-page">previous page</a></li>
      <li><a href="{{next}}" class="next-page">next page</a></li>
    </menu>
  </div>
</section>