<section class="step bollettini {{page_mood}}">
  <div class="aux">
    <header class="section-title">
      <hgroup>
        <h1 class="title">{{{title}}}</h1>
        <h2 class="subtitle">{{subtitle}}</h2>
      </hgroup>
    </header>
    <div class="content challenge">
       <div class="wrap-oriz-scroll">
          <div class="oriz-scroll">
            <ul class="wrap-items">
              {{#items}}
              <li class="item">
                <a href="#" class="close">close</a>
                <article class="bollettino">
                  <a href="#">
                    <span class="number">{{number}}</span>
                    <h2>
                      <figure>
                        <img src="{{image}}" alt="{{alt}}">
                      </figure>
                      <figcaption>{{caption}}</figcaption>
                    </h2>
                    <date>{{date}}</date>
                  </a>
                </article>
                <ul class="detail">
                  {{{details}}}
                </ul>
              </li>
              {{/items}}
            </ul>
          </div>
        <div class="wrap-scroll">
          <div class="scroll">
            <div class="scroller" style="width:105px;">
              <span>drag<br /> for more</span>
            </div>
          </div>
        </div>
       </div>
       <!-- fine bollettini -->
     </div>
     <menu class="section-arrow">
       <li><a href="{{prev}}" class="prev-page">previous page</a></li>
       <li><a href="{{next}}" class="next-page">next page</a></li>
     </menu>
  </div>
</section>