<script type="text/javascript">
function insertNthChar(string,chr,nth) {
  var output = '';
  for (var i=0, i1=0; i<string.length; i++, i1++) {
    if (i1>0 && i1%nth == 0)
    {
      var conInd=i, enStar;
      var part, ch;
      ch=string.charAt(i);
      if (chr.search(ch)!=-1)
      {
        var k, k1,p;
        if (ch=='>')
        { k = string.substr(i-4,5); k1=i-4; }
        else if (ch=='<')
        { k = string.substr(i,5); k1=i; }
        else
        { k = string.substr(i-3, 6); k1=i-3; }
//        alert(k);
//        if (k.search('<p>')  != 1  || k.search('</p>')  != 1 || k.search('<li>')  != 1 || k.search('</li>')  != 1)
        p = k.search('<p>') + k.search('</p>') + k.search('<li>') + k.search('</li>');
        if (p!=-4)
          conInd = p + 3 + k1 - 1;
      }
      if (conInd == i)
      { 
        while ((string.charAt(conInd)>='a' && string.charAt(conInd)<='z') || (string.charAt(conInd)>='A' && string.charAt(conInd)<='Z'))
        {
          conInd--;
        }
      }
      if (conInd!=i)
      {
        output = output.substr(0,conInd-1) + chr + output.substr(conInd, i-conInd+1);
        i=conInd;
      }
      else
        output += chr;
    }
    output += string.charAt(i);
  }
  return output;
}
</script>
<section class="step bollettini {{page_mood}}">
  <div class="aux">
    <header class="section-title">
      <hgroup>
        <h1 class="title">{{{title}}}</h1>
        <h2 class="subtitle">{{subtitle}}</h2>
      </hgroup>
    </header>
    <div class="content challenge">
       <div class="wrap-oriz-scroll">
          <div class="oriz-scroll">
            <ul class="wrap-items">
              {{#items}}
              <li class="item">
                <a href="#" class="close">close</a>
                <article class="bollettino">
                  <a href="#">
                    <span class="number">{{number}}</span>
                    <h2>
                      <figure>
                        <img src="{{image}}" onerror="ImgError(this);" alt="{{alt}}" width="268">
                      </figure>
                      <figcaption>{{caption}}</figcaption>
                    </h2>
                    <date>{{date}}</date>
                  </a>
                </article>
                <ul class="detail">
                <script>
             
  var code="{{{details}}}";
  document.write(insertNthChar(code, '</p></li><li><p>', 600))
</script>
                  
                </ul>
              </li>
              {{/items}}
            </ul>
          </div>
        <div class="wrap-scroll">
          <div class="scroll">
            <div class="scroller" style="width:105px;">
              <span>drag<br /> for more</span>
            </div>
          </div>
        </div>
       </div>
       <!-- fine bollettini -->
     </div>
     <menu class="section-arrow">
       <li><a href="{{prev}}" class="prev-page">previous page</a></li>
       <li><a href="{{next}}" class="next-page">next page</a></li>
     </menu>
  </div>
</section>