<section class="step gallery {{page_mood}}">
  <div class="aux">
    <header class="section-title">
      <hgroup>
        <h1 class="title">{{{title}}}</h1>
        <h2 class="subtitle">{{subtitle}}</h2>
      </hgroup>
    </header>
    <article class="wrap-gallery-carousel challenge gallery">
      <ul class="gallery-carousel">
        <li class="item"><a href="#"><img src="/public/images/2010/gallery/01.jpg" height="177" alt="Thumb Gallery"></a></li>
        <li class="item"><a href="#"><img src="/public/images/2010/gallery/02.jpg" height="177" alt="Thumb Gallery"></a></li>
        <li class="item"><a href="#"><img src="/public/images/2010/gallery/03.jpg" height="177" alt="Thumb Gallery"></a></li>
        <li class="item"><a href="#"><img src="/public/images/2010/gallery/04.jpg" height="177" alt="Thumb Gallery"></a></li>
        <li class="item"><a href="#"><img src="/public/images/2010/gallery/05.jpg" height="177" alt="Thumb Gallery"></a></li>
        <li class="item"><a href="#"><img src="/public/images/2010/gallery/06.jpg" height="177" alt="Thumb Gallery"></a></li>
        <li class="item"><a href="#"><img src="/public/images/2010/gallery/07.jpg" height="177" alt="Thumb Gallery"></a></li>
      </ul>
    </article>
    <menu class="section-arrow">
      <li><a href="{{prev}}" class="prev-page">previous page</a></li>
      <li><a href="{{next}}" class="next-page">next page</a></li>
    </menu>
  </div>
</section>