<section class="step gallery {{page_mood}}">
  <div class="aux">
    <div class="wrap-detail-canvas">
      <canvas class="full-detail" id="detail-canvas"/>
    </div>
    <div class="wrap-detail-img">
      <img class="full-detail" id="detail-img"/>
    </div>
    <header class="section-title">
      <hgroup>
        <h1 class="title">{{{title}}}</h1>
        <h2 class="subtitle">{{subtitle}}</h2>
      </hgroup>
    </header>
    <article class="wrap-gallery-carousel challenge gallery">
      <ul class="gallery-carousel">
      {{#images}}
        <li class="item"><a href="#"><img src="{{src}}" height="177" alt="{{alt}}"></a></li>
      {{/images}}
      </ul>
    </article>
    <a href="#" class="gallery-close">x</a>
    <menu class="section-arrow">
      <li><a href="{{prev}}" class="prev-page">previous page</a></li>
      <li><a href="{{next}}" class="next-page">next page</a></li>
    </menu>
  </div>
</section>