<section class="step gallery">
  <div class="aux">
    <article class="content challenge">
      <header>
        <hgroup>
          <h1 class="title">{{{title}}}</h1>
          <h2 class="subtitle">{{subtitle}}</h2>
        </hgroup>
      </header>
      <menu>
        <li><a href="#" class="prev-page">previous page</a></li>
        <li><a href="#" class="next-page">next page</a></li>
      </menu>
    </article>
  </div>
</section>