<section class="step hp  hp-double-intro {{page_mood}}">
  <div class="aux" style="background-image:url({{image}});background-position:{{crop}}; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{image}}', sizingMethod='scale');
  -ms-filter: 'progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{image}}', sizingMethod='scale')';">
    <hgroup class="text-intro">
      <h1>{{title}}</h1>      
      <span class="year">{{year}}</span>
      <ul class="link-intro">
        <li><a class="next-page" href="{{intro1}}">{{intro1_testo}}</a></li>
        <li><a class="next-page" href="{{intro2}}">{{intro2_testo}}</a></li>
      </ul>
    </hgroup>
  </div>
</section>