<section class="step hp">
  <div class="aux">
    <hgroup class="text-intro">
      <h1>{{title}}</h1>
      <span class="year">{{year}}</span>
      <a href="#" class="next-page">next page</a>
    </hgroup>
  </div>
</section>