<section class="step hp {{page_mood}} hp-home">
  <div class="aux" style="background-image:url({{image}});background-position:{{crop}}; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{image}}', sizingMethod='scale');
  -ms-filter: 'progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{image}}', sizingMethod='scale')';">
    <hgroup class="text-intro">
      <h1>{{{title}}}</h1>
      <span class="year">
        <div class="wrap-link-ac">
          <a target="_blank" href="{{aclink}}" style="border-bottom:3px solid Red">{{follow}}</a>
        </div>
      </span>
      <div class="blake">
        <p>"{{text2}}"</p>
        <p class="prefazione">{{text}}</p>
        <a href="/public/{{link}}.html" target="_blank" style="border-bottom:3px solid Red">{{read}}</a>
      </div>
    </div>
  </hgroup>
</section>