<section class="step hp {{page_mood}}">
  <div class="aux" style="background-image:url({{image}}); filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{image}}', sizingMethod='scale');
  -ms-filter: 'progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{image}}', sizingMethod='scale')';">
    <hgroup class="text-intro">
      <h1>{{title}}</h1>
      <span class="year">{{year}}</span>
      <a href="{{next}}" class="next-page">next page</a>
    </hgroup>
  </div>
</section>