<section class="step hp {{page_mood}}">
  <div class="aux">
    <hgroup class="text-intro">
      <h1>{{title}}</h1>
      <span class="year">{{year}}</span>
      <a href="{{next}}" class="next-page">next page</a>
    </hgroup>
  </div>
</section>