<!DOCTYPE html>
<html>
<head>
  <link href="/assets/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <script src="/public/javascripts/modernizr.js" type="text/javascript" charset="utf-8"></script>
  <title>Luna Rossa Challenge</title>
</head>
<body>
  <div class="white" id="wrapper">
    <header id="header">
      <h1>
        <a href="/" class="logo">Luna Rossa</a>
      </h1>
      <nav id="navbar">
        <ul>
          <li><a href="#">2013</a></li>
          <li><a href="#">2012</a></li>
          <li><a class"active" href="#">2011</a></li>
          <li><a href="#">2007</a></li>
          <li><a href="#">2006</a></li>
        </ul>
      </nav>
    </header>
    <ul class="full-screen" id="years-list">
      <li class="single-year" id="y-2010" style="height:332px;">
        <section style="display:none;" class=" step hp full-screen">
          <div class="aux full-screen">
            <hgroup class="text-intro">
              <h1>Sailing season</h1>
              <span class="year">2011</span>
              <a href="#" class="next-page">next page</a>
            </hgroup>
          </div>
        </section>
        <section style="display:none;" class="full-screen step intro">
          <div class="aux full-screen">
            <article class="content challenge">
              <header>
                <hgroup>
                  <h1 class="title">Sailing season<span>2011</span></h1>
                  <h2 class="subtitle">the challenge</h2>
                </hgroup>
              </header>
              <div class="text-content">
                <p class="description">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
              </div>
              <nav class="wrap-sharing">
                <span class="title">share this</span>
                <ul>
                  <li class="tw"><a href="#">twitter</a></li>
                  <li class="fb"><a href="#">facebook</a></li>
                </ul>
              </nav>
              <menu>
                <li><a href="#" class="prev-page">previous page</a></li>
                <li><a href="#" class="next-page">next page</a></li>
              </menu>
            </article>
          </div>
        </section>
        <section class="full-screen step bollettini">
          <div class="aux full-screen">
            <div class="content challenge">
               <header>
                 <hgroup>
                   <h1 class="title">Sailing season <span>2011</span></h1>
                   <h2 class="subtitle">bollettini</h2>
                 </hgroup>
               </header>
               <div class="wrap-oriz-scroll">
                  <div class="oriz-scroll">
                    <ul class="wrap-items">
                      <li class="item" style="width:870px;">
                        <a href="#" class="close">close</a>
                        <article class="bollettino">
                          <a href="#">
                            <span class="number">.01</span>
                            <h2>
                              <figure>
                                <img src="/public/images/placeholder/bollettini.jpg" alt="Bollettini">
                              </figure>
                              <figcaption>Luna Rossa vince l'extreme sailing series 2011</figcaption>
                            </h2>
                            <date>11/12/2011</date>
                          </a>
                        </article>
                        <ul class="detail">
                          <li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</p></li>
                          <li>
                            <h3>Extreme Sailing Series 2011</h3>
                            <h4>Classifica generale</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</p>
                          </li>
                        </ul>
                      </li>
                      <li class="item">
                        <article class="bollettino">
                          <a href="#">
                            <span class="number">.01</span>
                            <h2>
                              <figure>
                                <img src="/public/images/placeholder/bollettini.jpg" alt="Bollettini">
                              </figure>
                              <figcaption>Luna Rossa vince l'extreme sailing series 2011</figcaption>
                            </h2>
                            <date>11/12/2011</date>
                          </a>
                        </article>
                      </li>
                      <li class="item">
                        <article class="bollettino">
                          <a href="#">
                            <span class="number">.01</span>
                            <h2>
                              <figure>
                                <img src="/public/images/placeholder/bollettini.jpg" alt="Bollettini">
                              </figure>
                              <figcaption>Luna Rossa vince l'extreme sailing series 2011</figcaption>
                            </h2>
                            <date>11/12/2011</date>
                          </a>
                        </article>
                      </li>
                      <li class="item">
                        <article class="bollettino">
                          <a href="#">
                            <span class="number">.01</span>
                            <h2>
                              <figure>
                                <img src="/public/images/placeholder/bollettini.jpg" alt="Bollettini">
                              </figure>
                              <figcaption>Luna Rossa vince l'extreme sailing series 2011</figcaption>
                            </h2>
                            <date>11/12/2011</date>
                          </a>
                        </article>
                      </li>
                      <li class="item">
                        <article class="bollettino">
                          <a href="#">
                            <span class="number">.01</span>
                            <h2>
                              <figure>
                                <img src="/public/images/placeholder/bollettini.jpg" alt="Bollettini">
                              </figure>
                              <figcaption>Luna Rossa vince l'extreme sailing series 2011</figcaption>
                            </h2>
                            <date>11/12/2011</date>
                          </a>
                        </article>
                      </li>
                    </ul>
                  </div>
                <div class="wrap-scroll">
                  <div class="scroll">
                    <div class="scroller" style="width:105px;">
                      <span>drag<br /> for more</span>
                    </div>
                  </div>
                </div>
               </div>
               <!-- fine bollettini -->
               <menu>
                 <li><a href="#" class="prev-page">previous page</a></li>
                 <li><a href="#" class="next-page">next page</a></li>
               </menu>
             </div>
          </div>
        </section>
        <section class="full-screen step team">
          <div class="aux full-screen">
            <div class="content challenge">
               <header>
                 <hgroup>
                   <h1 class="title">Sailing season <span>2011</span></h1>
                   <h2 class="subtitle">bollettini</h2>
                 </hgroup>
               </header>
               <div class="wrap-oriz-scroll">
                  <div class="oriz-scroll">
                    <ul class="wrap-items">
                      <li class="item">
                        <article class="player">
                          <a href="#">
                            <h2>
                              <figure>
                                <img src="/public/images/placeholder/team.jpg" alt="Team">
                              </figure>
                              <figcaption>
                                <span class="name">Max Sirena</span>
                                <span class="role">Pitman/skipper</span>
                              </figcaption>
                            </h2>
                          </a>
                        </article>
                      </li>
                      <li class="item">
                        <article class="player">
                          <a href="#">
                            <h2>
                              <figure>
                                <img src="/public/images/placeholder/team.jpg" alt="Team">
                              </figure>
                              <figcaption>
                                <span class="name">Max Sirena</span>
                                <span class="role">Pitman/skipper</span>
                              </figcaption>
                            </h2>
                          </a>
                        </article>
                      </li>
                      <li class="item">
                        <article class="player">
                          <a href="#">
                            <h2>
                              <figure>
                                <img src="/public/images/placeholder/team.jpg" alt="Team">
                              </figure>
                              <figcaption>
                                <span class="name">Max Sirena</span>
                                <span class="role">Pitman/skipper</span>
                              </figcaption>
                            </h2>
                          </a>
                        </article>
                      </li>
                      <li class="item">
                        <article class="player">
                          <a href="#">
                            <h2>
                              <figure>
                                <img src="/public/images/placeholder/team.jpg" alt="Team">
                              </figure>
                              <figcaption>
                                <span class="name">Max Sirena</span>
                                <span class="role">Pitman/skipper</span>
                              </figcaption>
                            </h2>
                          </a>
                        </article>
                      </li>
                      <li class="item">
                        <article class="player">
                          <a href="#">
                            <h2>
                              <figure>
                                <img src="/public/images/placeholder/team.jpg" alt="Team">
                              </figure>
                              <figcaption>
                                <span class="name">Max Sirena</span>
                                <span class="role">Pitman/skipper</span>
                              </figcaption>
                            </h2>
                          </a>
                        </article>
                      </li>
                      <li class="item">
                        <article class="player">
                          <a href="#">
                            <h2>
                              <figure>
                                <img src="/public/images/placeholder/team.jpg" alt="Team">
                              </figure>
                              <figcaption>
                                <span class="name">Max Sirena</span>
                                <span class="role">Pitman/skipper</span>
                              </figcaption>
                            </h2>
                          </a>
                        </article>
                      </li>
                    </ul>
                  </div>
                <div class="wrap-scroll">
                  <div class="scroll">
                    <div class="scroller" style="width:105px;">
                      <span>drag<br /> for more</span>
                    </div>
                  </div>
                </div>
               </div>
               <!-- fine bollettini -->
               <menu>
                 <li><a href="#" class="prev-page">previous page</a></li>
                 <li><a href="#" class="next-page">next page</a></li>
               </menu>
             </div>
          </div>
        </section>
        <section class="full-screen step gallery"></section>
        <section class="full-screen step adv"></section>
      </li>
      <li class="single-year" id="y-2011"></li>
      <li class="single-year" id="y-2012"></li>
      <li class="single-year" id="y-2013"></li>
    </ul>
    <!-- div per sticky-footer -->
    <div id="wrapper_footer"></div>
  </div>
  <footer id="footer">
    <p>© Copyright Luna Rossa Trademark Sarl - P. IVA 10115350158 - Company info and Legal Terms</p>
    <a href="#" class="logo-prada">sponsored by<span></span></a>
  </footer>
  <script src="/assets/javascripts/application.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>