<!DOCTYPE html>
<html>
<head>
  <link href="/assets/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <script src="/public/javascripts/modernizr.js" type="text/javascript" charset="utf-8"></script>
  <title>Luna Rossa Challenge</title>
</head>
<body>
  <div class="white" id="wrapper">
    <header id="header">
      <h1>
        <a href="/" class="logo">Luna Rossa</a>
      </h1>
      <nav id="navbar">
        <ul>
          <li><a href="/2013/home/">2013</a></li>
          <li><a href="/2012/home/">2012</a></li>
          <li><a href="/2011/home/" class"active">2011</a></li>
          <li><a href="/2007/home/">2007</a></li>
          <li><a href="/2006/home/">2006</a></li>
        </ul>
      </nav>
    </header>
    <ul id="years-list">
      <li class="single-year" id="y-{{year}}">
        <div class="container">{{{content}}}</div>
      </li>
    </ul>
    <!-- div per sticky-footer -->
    <div id="wrapper_footer"></div>
  </div>
  <footer id="footer">
    <p>© Copyright Luna Rossa Trademark Sarl - P. IVA 10115350158 - Company info and Legal Terms</p>
    <a href="#" class="logo-prada">sponsored by<span></span></a>
  </footer>
  <script id="site-data" type="text/javascript">/*{{{ json}}}*/</script>
  {{#templates}}
  <script id="tpl-{{name}}" type="text/javascript">/*{{{ content}}}*/</script>
  {{/templates}}
  <script src="/assets/javascripts/application.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>