<section class="step intro">
  <div class="aux">
    <article class="content challenge">
      <header>
        <hgroup>
          <h1 class="title">{{{title}}}</h1>
          <h2 class="subtitle">{{subtitle}}</h2>
        </hgroup>
      </header>
      <div class="text-content">
        <p class="description">
          {{{description}}}
        </p>
      </div>
      <nav class="wrap-sharing">
        <span class="title">share this</span>
        <ul>
          <li class="tw"><a href="#">twitter</a></li>
          <li class="fb"><a href="#">facebook</a></li>
        </ul>
      </nav>
      <menu>
        <li><a href="#" class="prev-page">previous page</a></li>
        <li><a href="#" class="next-page">next page</a></li>
      </menu>
    </article>
  </div>
</section>