<section class="step intro {{page_mood}}">
  <div class="aux" style="background-image:url({{image}}); filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{image}}', sizingMethod='scale');
  -ms-filter: 'progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{image}}', sizingMethod='scale')';">
    <header class="section-title">
      <hgroup>
        <h1 class="title">{{{title}}}</h1>
        <h2 class="subtitle">{{subtitle}}</h2>
      </hgroup>
      <div class="text-content">
        <p class="description">
          {{{description}}}
        </p>
      </div>
      <nav class="wrap-sharing"></nav>
    </header>
    <menu class="section-arrow">
      <li><a href="{{prev}}" class="prev-page">previous page</a></li>
      <li><a href="{{next}}" class="next-page">next page</a></li>
    </menu>
  </div>
</section>


