<section class="step intro">
  <div class="aux">
    <header class="section-title">
      <hgroup>
        <h1 class="title">{{{title}}}</h1>
        <h2 class="subtitle">{{subtitle}}</h2>
      </hgroup>
    </header>
    <article class="content challenge">
      <div class="text-content">
        <p class="description">
          {{{description}}}
        </p>
      </div>
      <nav class="wrap-sharing">
        <span class="title">share this</span>
        <ul>
          <li class="tw"><a href="#">twitter</a></li>
          <li class="fb"><a href="#">facebook</a></li>
        </ul>
      </nav>
    </article>
    <menu class="section-arrow">
      <li><a href="{{prev}}" class="prev-page">previous page</a></li>
      <li><a href="{{next}}" class="next-page">next page</a></li>
    </menu>
  </div>
</section>