<div class="wrap-overlay full-screen" style="display:none">
  <div class="wrap-detail-player">
    <img class="photo" src="{{popup_image}}" width="300" height="450" alt="{{popup_alt}}">
    <article class="player-detail">
      <div class="aux-detail">
        <h2 class="name">{{{popup_title}}}</h2>
        {{{popup_description}}}
      </div>
    </article>
    <a href="#" class="close">x</a>
  </div>
</div>