<style>
::-webkit-scrollbar{
width:0.8em;
height:0.8em;
background: #333;
margin-right: 10px;
}
::-webkit-scrollbar:hover{
background-color:# 333 ;
border: none;
}
::-webkit-resizer{
    -webkit-border-radius:4px;
    background-color:#333;
border: none;
}
::-webkit-scrollbar-thumb{
    min-height:0.8em;
    min-width:0.8em;
    background-color: #ececec;
border: none;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #ececec;
border: none;
}
::-webkit-scrollbar-thumb:active{
    background-color:#ececec;
border: none;
}
</style>
<div class="wrap-overlay full-screen" style="display:none">
  <div class="wrap-detail-player">
    <img class="photo" src="/public/images/team/{{popup_image}}" width="300" height="450" alt="{{popup_alt}}" onerror="ImgErrorTp(this);">
    <article class="player-detail">
      <div class="aux-detail" style="width:auto;height:450px;overflow:auto;padding-right: 10px;margin-top: 20px;">
        <h2 class="name">{{{popup_title}}}</h2>
        {{{popup_description}}}
      </div>
    </article>
    <a href="#" class="close">x</a>
  </div>
</div>