/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 69, sprite */
.sprite-sprite, .white .next-page, .white .prev-page, .grey .next-page, .grey .prev-page, #header h1 a.logo, #footer .logo-prada span {
  background: url('/images/sprite-s56c535c8d0.png') no-repeat;
}

@font-face {
  font-family: "ProximaNovaRegular";
  src: url(/lib/proximaRegular/proximanova-regular-webfont.eot);
  src: url(/lib/proximaRegular/proximanova-regular-webfont.eot?iefix) format('eot'), url(/lib/proximaRegular/proximanova-regular-webfont.woff) format('woff'), url(/lib/proximaRegular/proximanova-regular-webfont.eot?#iefix) format('embedded-opentype'), url(/lib/proximaRegular/proximanova-regular-webfont.ttf) format('truetype'), url(/lib/proximaRegular/proximanova-regular-webfont.svg#ProximaNovaRegular) format('svg');
}

/* line 19, ../sass/screen.scss */
body {
  background: #fff;
  font-family: 'ProximaNovaRegular';
  font-size: 10px;
}

/* line 20, ../sass/screen.scss */
a {
  text-decoration: none;
}

/* line 21, ../sass/screen.scss */
#wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}

/* line 24, ../sass/screen.scss */
.single-year .step {
  height: 100%;
  width: 1440px;
  background-position: center center;
  background-size: cover;
  float: left;
}

/* line 31, ../sass/screen.scss */
#years-list {
  overflow: hidden;
}
/* line 33, ../sass/screen.scss */
#years-list .single-year {
  position: absolute;
  width: 999999px;
  top: 0;
  left: 0;
}

/* line 42, ../sass/screen.scss */
.white #navbar a {
  color: #fff;
}
/* line 45, ../sass/screen.scss */
.white .next-page {
  background-position: 0 -62px;
}
/* line 48, ../sass/screen.scss */
.white .prev-page {
  background-position: 0 -93px;
}

/* line 55, ../sass/screen.scss */
.grey #navbar a {
  color: #333;
}
/* line 58, ../sass/screen.scss */
.grey .next-page {
  background-position: 0 0;
}
/* line 61, ../sass/screen.scss */
.grey .prev-page {
  background-position: 0 -31px;
}

/* line 66, ../sass/screen.scss */
.bollettini {
  background: #000!important;
}

/* line 70, ../sass/screen.scss */
#y-2010 .hp {
  background: url("/images/pl-hp.jpg") center top no-repeat;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/pl-hp.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/pl-hp.jpg', sizingMethod='scale')";
}

/* line 76, ../sass/screen.scss */
#header {
  position: absolute;
  width: 100%;
  z-index: 999;
}
/* line 80, ../sass/screen.scss */
#header h1 {
  position: absolute;
  top: 44px;
  left: 0;
}
/* line 84, ../sass/screen.scss */
#header h1 a.logo {
  display: block;
  width: 392px;
  height: 23px;
  text-indent: -5000px;
  background-position: 0 -148px;
}
/* line 92, ../sass/screen.scss */
#header #navbar {
  position: absolute;
  right: 25px;
  top: 50px;
}
/* line 97, ../sass/screen.scss */
#header #navbar ul li {
  float: left;
  margin-right: 35px;
}

/* line 105, ../sass/screen.scss */
.next-page, .prev-page {
  width: 30px;
  height: 31px;
  display: block;
  text-indent: -5000px;
  text-align: left;
}

/* line 114, ../sass/screen.scss */
.hp .text-intro {
  position: absolute;
  right: 45px;
  top: 40%;
  text-align: right;
}
/* line 119, ../sass/screen.scss */
.hp .text-intro h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 7em;
}
/* line 126, ../sass/screen.scss */
.hp .text-intro .year {
  display: block;
  color: #fff;
  font-size: 6em;
}
/* line 133, ../sass/screen.scss */
.hp .text-intro .next-page {
  float: right;
}

/* line 140, ../sass/screen.scss */
.step {
  position: relative;
  background: #ddd;
}
/* line 143, ../sass/screen.scss */
.step .content {
  position: absolute;
  top: 35%;
  right: 45px;
  text-align: right;
}
/* line 148, ../sass/screen.scss */
.step .content header {
  margin-bottom: 20px;
}
/* line 150, ../sass/screen.scss */
.step .content header .title {
  line-height: 1em;
  text-transform: uppercase;
  font-size: 5em;
}
/* line 157, ../sass/screen.scss */
.step .content header .subtitle {
  line-height: 1em;
  text-transform: uppercase;
  font-size: 3em;
}

/* line 10, ../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#wrapper {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -30px;
}
/* line 18, ../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#wrapper #wrapper_footer {
  height: 30px;
}

/* line 20, ../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 30px;
}

/* line 176, ../sass/screen.scss */
#footer {
  overflow: hidden;
  *zoom: 1;
  background: #000;
  padding: 0 35px;
}
/* line 180, ../sass/screen.scss */
#footer p {
  color: #ddd;
  line-height: 30px;
  float: left;
  font-size: 1em;
}
/* line 188, ../sass/screen.scss */
#footer .logo-prada {
  float: right;
  position: relative;
  line-height: 30px;
  color: #ddd;
  padding-right: 80px;
}
/* line 193, ../sass/screen.scss */
#footer .logo-prada span {
  background-position: 0 -135px;
  position: absolute;
  width: 68px;
  height: 13px;
  display: block;
  right: 0;
  top: 8px;
}
