/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 81, sprite */
.sprite-sprite, .white .next-page, .white .prev-page, .white .wrap-sharing .fb a, .white .wrap-sharing .tw a, .grey .next-page, .grey .prev-page, .grey .wrap-sharing .fb a, .grey .wrap-sharing .tw a, #header h1 a.logo, #footer .logo-prada span {
  background: url('/images/sprite-sfe7fd65548.png') no-repeat;
}

@font-face {
  font-family: "ProximaNovaRegular";
  src: url(/lib/proximaRegular/proximanova-regular-webfont.eot);
  src: url(/lib/proximaRegular/proximanova-regular-webfont.eot?iefix) format('eot'), url(/lib/proximaRegular/proximanova-regular-webfont.woff) format('woff'), url(/lib/proximaRegular/proximanova-regular-webfont.eot?#iefix) format('embedded-opentype'), url(/lib/proximaRegular/proximanova-regular-webfont.ttf) format('truetype'), url(/lib/proximaRegular/proximanova-regular-webfont.svg#ProximaNovaRegular) format('svg');
}

/* line 19, ../sass/screen.scss */
body {
  background: #fff;
  font-family: 'ProximaNovaRegular';
  font-size: 10px;
}

/* line 20, ../sass/screen.scss */
a {
  text-decoration: none;
}

/* line 21, ../sass/screen.scss */
#wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}

/* line 24, ../sass/screen.scss */
.single-year .step .aux {
  position: relative;
  height: 100%;
  width: 1440px;
  background-position: center center;
  background-size: cover;
  float: left;
}

/* line 32, ../sass/screen.scss */
#years-list {
  overflow: hidden;
}
/* line 34, ../sass/screen.scss */
#years-list .single-year {
  position: absolute;
  width: 999999px;
  top: 0;
  left: 0;
}

/* line 43, ../sass/screen.scss */
.white #navbar a {
  color: #fff;
}
/* line 46, ../sass/screen.scss */
.white .next-page {
  background-position: 0 -62px;
}
/* line 49, ../sass/screen.scss */
.white .prev-page {
  background-position: 0 -93px;
}
/* line 52, ../sass/screen.scss */
.white .intro .text-content .description {
  color: #fff;
}
/* line 56, ../sass/screen.scss */
.white .step .content header .title {
  border-bottom: 1px solid #fff;
}
/* line 59, ../sass/screen.scss */
.white .step .content header .title, .white .step .content header .subtitle {
  color: #fff;
}
/* line 63, ../sass/screen.scss */
.white .wrap-sharing .fb a {
  background-position: 0 -124px;
}
/* line 66, ../sass/screen.scss */
.white .wrap-sharing .tw a {
  background-position: 0 -182px;
}
/* line 69, ../sass/screen.scss */
.white .wrap-sharing .title {
  border-right: 1px solid #fff;
  color: #fff;
}

/* line 77, ../sass/screen.scss */
.grey #navbar a {
  color: #333;
}
/* line 80, ../sass/screen.scss */
.grey .next-page {
  background-position: 0 0;
}
/* line 83, ../sass/screen.scss */
.grey .prev-page {
  background-position: 0 -31px;
}
/* line 86, ../sass/screen.scss */
.grey .intro .text-content .description {
  color: #686868;
}
/* line 90, ../sass/screen.scss */
.grey .step .content header .title {
  border-bottom: 1px solid #686868;
}
/* line 93, ../sass/screen.scss */
.grey .step .content header .title, .grey .step .content header .subtitle {
  color: #686868;
}
/* line 97, ../sass/screen.scss */
.grey .wrap-sharing .fb a {
  background-position: 0 -135px;
}
/* line 100, ../sass/screen.scss */
.grey .wrap-sharing .tw a {
  background-position: 0 -192px;
}
/* line 103, ../sass/screen.scss */
.grey .wrap-sharing .title {
  border-right: 1px solid #686868;
  color: #686868;
}

/* line 109, ../sass/screen.scss */
.bollettini {
  background: #000!important;
}

/* line 113, ../sass/screen.scss */
#y-2010 .hp .aux {
  background: url("/images/pl-hp.jpg") center top no-repeat;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/pl-hp.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/pl-hp.jpg', sizingMethod='scale')";
}

/* line 119, ../sass/screen.scss */
#header {
  position: absolute;
  width: 100%;
  z-index: 999;
}
/* line 123, ../sass/screen.scss */
#header h1 {
  position: absolute;
  top: 44px;
  left: 0;
}
/* line 127, ../sass/screen.scss */
#header h1 a.logo {
  display: block;
  width: 392px;
  height: 23px;
  text-indent: -5000px;
  background-position: 0 -159px;
}
/* line 135, ../sass/screen.scss */
#header #navbar {
  position: absolute;
  right: 25px;
  top: 50px;
}
/* line 140, ../sass/screen.scss */
#header #navbar ul li {
  float: left;
  margin-right: 35px;
}

/* line 148, ../sass/screen.scss */
.next-page, .prev-page {
  width: 30px;
  height: 31px;
  display: block;
  text-indent: -5000px;
  text-align: left;
}

/* line 157, ../sass/screen.scss */
.hp .text-intro {
  position: absolute;
  right: 45px;
  top: 40%;
  text-align: right;
}
/* line 162, ../sass/screen.scss */
.hp .text-intro h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 7em;
}
/* line 169, ../sass/screen.scss */
.hp .text-intro .year {
  display: block;
  color: #fff;
  font-size: 6em;
}
/* line 176, ../sass/screen.scss */
.hp .text-intro .next-page {
  float: right;
}

/* line 183, ../sass/screen.scss */
.step {
  position: relative;
  background: #ddd;
}
/* line 186, ../sass/screen.scss */
.step .content {
  position: absolute;
  top: 35%;
  right: 45px;
  text-align: right;
}
/* line 191, ../sass/screen.scss */
.step .content header {
  margin-bottom: 20px;
}
/* line 193, ../sass/screen.scss */
.step .content header .title {
  line-height: 1em;
  text-transform: uppercase;
  font-size: 3.7em;
}
/* line 200, ../sass/screen.scss */
.step .content header .subtitle {
  padding-top: 10px;
  line-height: 1em;
  text-transform: uppercase;
  font-size: 1.8em;
}
/* line 210, ../sass/screen.scss */
.step .wrap-sharing {
  width: 120px;
  padding: 30px 0 0 0;
  float: right;
}
/* line 214, ../sass/screen.scss */
.step .wrap-sharing .title {
  float: left;
  padding-right: 10px;
  margin-right: 10px;
  text-transform: uppercase;
  font-size: 1.2em;
}
/* line 223, ../sass/screen.scss */
.step .wrap-sharing ul li {
  float: left;
}
/* line 225, ../sass/screen.scss */
.step .wrap-sharing ul li a {
  display: block;
  text-indent: -99999px;
  text-align: left;
}
/* line 230, ../sass/screen.scss */
.step .wrap-sharing ul li.tw {
  margin-right: 10px;
}
/* line 231, ../sass/screen.scss */
.step .wrap-sharing ul li.fb a {
  width: 5px;
  height: 11px;
}
/* line 232, ../sass/screen.scss */
.step .wrap-sharing ul li.tw a {
  width: 14px;
  height: 10px;
}
/* line 235, ../sass/screen.scss */
.step menu {
  padding-top: 30px;
  clear: both;
  float: right;
}
/* line 239, ../sass/screen.scss */
.step menu li {
  float: left;
}
/* line 241, ../sass/screen.scss */
.step menu li .prev-page {
  margin-right: 10px;
}

/* line 250, ../sass/screen.scss */
.intro .text-content {
  width: 520px;
}
/* line 252, ../sass/screen.scss */
.intro .text-content .description {
  line-height: 1.5em;
  font-size: 1.4em;
}

/* line 10, ../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#wrapper {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -30px;
}
/* line 18, ../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#wrapper #wrapper_footer {
  height: 30px;
}

/* line 20, ../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 30px;
}

/* line 264, ../sass/screen.scss */
#footer {
  overflow: hidden;
  *zoom: 1;
  background: #000;
  padding: 0 35px;
}
/* line 268, ../sass/screen.scss */
#footer p {
  color: #ddd;
  line-height: 30px;
  float: left;
  font-size: 1em;
}
/* line 276, ../sass/screen.scss */
#footer .logo-prada {
  float: right;
  position: relative;
  line-height: 30px;
  color: #ddd;
  padding-right: 80px;
}
/* line 281, ../sass/screen.scss */
#footer .logo-prada span {
  background-position: 0 -146px;
  position: absolute;
  width: 68px;
  height: 13px;
  display: block;
  right: 0;
  top: 8px;
}
