/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";
@import "compass/reset";
@import "compass/layout.scss";
@import "compass/css3";
@import "compass/utilities/general/";
@import "compass/utilities/sprites";
@import "sprite/*.png";


// include fonteface

@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('/public/lib/proximaRegular/proximanova-regular-webfont.eot');
    src: url('/public/lib/proximaRegular/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/lib/proximaRegular/proximanova-regular-webfont.woff') format('woff'),
         url('/public/lib/proximaRegular/proximanova-regular-webfont.ttf') format('truetype'),
         url('/public/lib/proximaRegular/proximanova-regular-webfont.svg#ProximaNovaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaSemiBold';
    src: url('/public/lib/proximanova-semibold/proximanova-semibold-webfont.eot');
    src: url('/public/lib/proximanova-semibold/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/lib/proximanova-semibold/proximanova-semibold-webfont.woff') format('woff'),
         url('/public/lib/proximanova-semibold/proximanova-semibold-webfont.ttf') format('truetype'),
         url('/public/lib/proximanova-semibold/proximanova-semibold-webfont.svg#ProximaNovaBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'ITCAvantGardeGothicStdMdOb';
    src: url('/public/lib/avant-garde/itcavantgardestd-mdobl-webfont.eot');
    src: url('/public/lib/avant-garde/itcavantgardestd-mdobl-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/lib/avant-garde/itcavantgardestd-mdobl-webfont.woff') format('woff'),
         url('/public/lib/avant-garde/itcavantgardestd-mdobl-webfont.ttf') format('truetype'),
         url('/public/lib/avant-garde/itcavantgardestd-mdobl-webfont.svg#ITCAvantGardeGothicStdMdOb') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ITCAvantGardeGothicStdXLtOb';
    src: url('/public/lib/avant-garde/itcavantgardestd-xltobl-webfont.eot');
    src: url('/public/lib/avant-garde/itcavantgardestd-xltobl-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/lib/avant-garde/itcavantgardestd-xltobl-webfont.woff') format('woff'),
         url('/public/lib/avant-garde/itcavantgardestd-xltobl-webfont.ttf') format('truetype'),
         url('/public/lib/avant-garde/itcavantgardestd-xltobl-webfont.svg#ITCAvantGardeGothicStdXLtOb') format('svg');
    font-weight: normal;
    font-style: normal;

}


body {
  background:#fff;
  overflow:hidden;

  font:{
    family:'ProximaNovaRegular';
    size:10px;
  }
}

a{
  text-decoration:none;
}

#wrapper{
  overflow:hidden;
  width:100%;
  height:100%;
  position:relative;
}

#years-list {
  overflow:hidden;

  .single-year {
    overflow: hidden;
  }

  .container {
    width: 999999px
  }
}


.single-year .step .aux{
  height:100%;
  width:1440px; //da impostare dinamicamente
  background-position: center left;
  background-repeat:no-repeat;
  background-size: cover;
  float:left;
}

#navbar a {
  @include single-transition(color, 1s, ease-in-out, 0)
}

// grey-element
.grey{
  #navbar a{
    color:#686868!important;
  }
  .next-page{
    @include sprite-sprite(a-grey-next);
  }
  .prev-page{
    @include sprite-sprite(a-grey-prev);
  }
  &.intro .text-content .description{
    color:#686868;
  }
  &.step{
    header{
      .title{
        border-bottom:1px solid #686868;
      }
      .title, .subtitle {
        color:#686868;
      }
    }
    .wrap-sharing .fb a{
      @include sprite-sprite(facebook);
    }
    .wrap-sharing .tw a{
      @include sprite-sprite(twitter);
    }
    .wrap-sharing .title{
      border-right:1px solid #686868;
      color:#686868;
    }
  }
}

// white-element
.white{
  #navbar a{
    color:#fff!important;
  }
  .next-page{
    @include sprite-sprite(a-white-next);
  }
  .prev-page{
    @include sprite-sprite(a-white-prev);
  }
  &.intro .text-content .description{
    color:#fff;
  }
  &.step{
    header{
      .title{
        border-bottom:1px solid #fff;
        display:inline;
      }
      .title, .subtitle {
        color:#fff;
      }
    }
    .wrap-sharing .fb a{
      @include sprite-sprite(facebook-white);
    }
    .wrap-sharing .tw a{
      @include sprite-sprite(twitter-white);
    }
    .wrap-sharing .title{
      border-right:1px solid #fff;
      color:#fff;
    }
  }
}


// esempio fullscreen
// #y-2010 {

  // .hp .aux{
  //   // background-image: url('/public/images/2010/bg.jpg');
  //   .no-backgroundsize & {
  //     filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/public/images/2010/bg.jpg', sizingMethod='scale');
  //     -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/public/images/2010/bg.jpg', sizingMethod='scale')";
  //   }
  // }

  // .intro .aux{
  //   background-image: url('/public/images/2010/intro.jpg');
  //   .no-backgroundsize & {
  //     filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/public/images/2010/intro.jpg', sizingMethod='scale');
  //     -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/public/images/2010/intro.jpg', sizingMethod='scale')";
  //   }
  // }

  // .gallery .aux{
  //   background:#000;
  // }

  // .adv .aux{
  //   background-image: url('/public/images/2010/bg-adv.jpg');
  //   .no-backgroundsize & {
  //     filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/public/images/2010/bg-adv.jpg', sizingMethod='scale');
  //     -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/public/images/2010/bg-adv.jpg', sizingMethod='scale')";
  //   }
  // }

// }



// header
#header{
  position:absolute;
  width:100%;
  z-index:999;
    h1{
    position:absolute;
    top:44px;
    left:0;
    a.logo{
      display:block;
      width:392px;
      height:23px;
      text-indent:-5000px;
       @include sprite-sprite(logo);
    }
  }
  #navbar{
    position:absolute;
    right:25px;
    top:50px;
    ul{
      li{
        float:left;
        margin-right:35px;
        a{
          color:#686868;
          padding:0 3px 1px;
          font:{
            size:1.3em;
          }
        }
        &.active a, & a:hover{
          border-bottom:3px solid red;
        }
      }
    }
  }
}
// navigator element
.next-page, .prev-page{
  width:30px;
  height:31px;
  display:block;
  text-indent:-5000px;
  text-align:left;
}

.next-page{
  &:hover{
    @include sprite-sprite(a-hover-next);
  }
}

.prev-page{
  &:hover{
    @include sprite-sprite(a-hover-prev);
  }
}



.hp{
  z-index: 99;
  .text-intro{
    position:absolute;
    right:45px;
    top:40%;
    text-align:right;
    > h1{
      color:#fff;
      text-transform:uppercase;
      display: inline;
      font:{
        family:"ProximaNovaSemiBold";
        size:6em;
      }
    sup{
    font-size:0.3em;
    vertical-align: super;}
    }
    .year{
      display:block;
      color:#fff;
      font:{
        size:6em;
      }
    }
    .next-page{
      float:right;
    }
  }
  &.hp-double-intro{
    .link-intro{
      clear:both;
      > li{
        @include clearfix;
        padding:10px 0 0;
        display:block;
        > a{
          width:100%;
          line-height:1em;
          text-indent:0;
          line-height:30px;
          padding-right:35px;
          text-transform:uppercase;
          text-align:right;
          background:url(/public/images/sprite/a-white-next.png) right center no-repeat!important;
          color:#fff;
          font:{
            family:"ProximaNovaSemiBold";
            size:2.5em;
          }
        }
      }
    }
  }
  &.hp-home{
    .blake{
      width:730px;
      float:right;
      .subtitle{
      padding-top:10px;
      line-height:1em;
      text-transform:uppercase;
      color:white;
      font:{
        size:1.8em;
      }
      }
      p{
      line-height:1em;
      color:white;
      font:{
        size:1.6em;
      }
      }
      .prefazione{
        margin-top:20px;
      font:{
        size:1.3em;
      }
      }
      > a{
          line-height:2em;
          text-transform:uppercase;
          color:#fff;
          font:{
            family:"ProximaNovaSemiBold";
            size:1.5em;
          }
        }
      }
    .text-intro{
      > h1{
        border-bottom:1px solid #fff;
        .year{
          display:inline;
          font:{
            size:1em;
            family:"ProximaNovaRegular";
          }
        }

      }
      .wrap-link-ac{
        color:#fff;
        padding-bottom: 30px;
        font-size: 0.3em;
        margin-top: 10px;
        > h2{
          padding-bottom:5px;
          line-height:1em;
          font:{
            family:"ProximaNovaSemiBold";
            size:4em;
          }
        }
        > a{
          line-height:1em;
          text-transform:uppercase;
          color:#fff;
          font:{
            family:"ProximaNovaSemiBold";
            size:1.5em;
          }
        }
      }
    }
  }
}


// contenuto condiviso tra le sezioni
.step{
  position:relative;
  float: left;
  overflow: hidden;
  .section-title{
    position:absolute;
    top:23%;
    right:45px;
    margin-top:-45px;
    height:70px;
    text-align:right;
    z-index: 9999;
    .title{
      line-height:1em;
      text-transform:uppercase;
      font:{
        size:3.7em;
        family:"ProximaNovaSemiBold";
      }
      span{
        font:{
          family:"ProximaNovaRegular";
        }
      }
    }
    .subtitle{
      padding-top:10px;
      line-height:1em;
      text-transform:uppercase;
      font:{
        size:1.8em;
      }
      sup{
    font-size:0.5em;
    vertical-align: super;}
    }
    &.fixed-header{
      position:fixed;
    }
  }
  .content{
    position:absolute;
    right:45px;
    text-align:right;
    top:65%;
    margin-top:-237px;
    @media screen and (max-width: 1024px){
        // If screen res is 1024 or lower, then set grid width to 46px
        top:70%;
    }
    @media screen and (max-width: 1024px) and (orientation:portrait){
       top:50%;
    }
  }
  .wrap-sharing{
    width:120px;
    padding:30px 0 0 0;
    float:right;
    .title{
      float:left;
      padding-right:10px;
      margin-right:10px;
      text-transform:uppercase;
      border-bottom:0!important;
      font:{
        size:1.2em;
      }
    }
    ul li{
      float:left;
      a{
        display:block;
        text-indent:-99999px;
        text-align:left;
      }
      &.tw{
        margin-right:10px;
      }
      &.fb a{
        width:5px;
        height:11px;
        &:hover{
          @include sprite-sprite(facebook-hover);
        }
      }
      &.tw a{
        width:14px;
        height:10px;
        &:hover{
          @include sprite-sprite(twitter-hover);
        }
      }
    }
  }
  .section-arrow{
    padding-top:30px;
    clear:both;
    position:absolute;
    bottom:11%;
    margin-bottom:-15px;
    right:45px;
    li{
      list-style:none;
      float:left;
      .prev-page{
       margin-right:10px;
      }
    }
    &.fixed-menu{
      position: fixed;
      margin-bottom: 15px;
      z-index: 9999;
    }
    @media screen and (max-width: 1024px){
        // If screen res is 1024 or lower, then set grid width to 46px
        bottom:20%;
    }
  }
}

// contenuto relativo alla sezione intro
.intro{
  .text-content{
    margin-top:40px;
    width:520px;
    @media screen and (max-width: 1024px) and (orientation:portrait){
        width:300px;
    }
    clear:both;
    .description{
      line-height:1.5em;
      font:{
        size:1.4em;
      }
    }
  }
}

// contenuto relativo alla sezione bollettini
.bollettini{
  background:#fff;
  .bollettino{
    a{
      color:#686868;
    }
    .number{
      font:{
        size:1.4em;
        color:#686868;
      }
    }
    figure{
      padding:12px 0;
      img{
        border:1px solid #c0c0c0;
      }
    }
    figcaption{
      text-transform:uppercase;
      line-height:1.3em;
      font:{
        size:1.4em;
      }
    }
    &:hover figcaption{
      color:#e52b38;
    }
    date{
      position:absolute;
      bottom:0;
      right:0;
      font:{
        size:1.3em;
      }
    }
  }
  .challenge{
    left:0;
    right:none;
  }
}


.team{
  .aux{
    background:url(/public/images/bg-team.jpg) center center no-repeat;
  }
  .player{
    a{
      color:#fff;
    }
    figure{
      padding:0 0 12px 0;
      img{
        border:3px solid #c0c0c0;
      }
    }
    figcaption{
      text-transform:uppercase;
      text-align:left;
      line-height:1.3em;
      .name{
        font:{
          size:1.4em;
        }
      }
      .role{
        font:{
          size:1.1em;
        }
        margin-left:5px;
        color:#e52b38;
      }
    }
  }
  .challenge{
    left:0;
    right:none;
  }
}

.wrap-oriz-scroll {
  clear: both;
  padding-left: 45px;
  .oriz-scroll {
    width: 100%!important;
    height: 315px;
    overflow: hidden;
    ul.wrap-items {
      width: 999999px;
      height: 315px;
      li.item {
        width:270px;
        padding:0 12px;
        border-left:1px solid #c0c0c0;
        float:left;
        height:315px;
        position:relative;
        .close{
          display: none;
          position:absolute;
          top:0;
          left:215px;
          text-transform:uppercase;
          color:#fff;
          background:#686868;
          padding:2px 5px;
          z-index:999;
          font:{
            size:1em;
          }
          &:hover{
            background:#e62d3a;
          }
        }
        article{
          width:270px;
          float:left;
          height:315px;
          position:relative;
        }
        .detail{
          float:left;
          padding:25px 0 0 12px;
          li{
            width:269px;
            height:290px;
            padding:0 12px;
            float:left;
            border-left:1px solid #f3f3f3;
            text-align:left;
            a{
            color:#333;
            }
            a:hover{
            color:#ccc;
            }
            h3{
              color:#e52b38;
              line-height:1.2em;
              text-transform:uppercase;
              font:{
                size:1.4em;
              }
            }
            h4{
              color:#686868;
              font:{
                size:1.3em;
              }
              margin-bottom:25px;
            }
            p{
              color:#686868;
              line-height:1.5em;
              font:{
                size:1.2em;
              }
            }
          }
        }
      }
    }
  }
}

.wrap-scroll{
  clear:both;
  height:17px;
  padding-top:30px;
  .scroll{
    width:100%;
    background:url(/public/images/bg-scroll.png) 0 0 repeat-x;
    height:17px;
    position:relative;
    .scroller{
      background:url(/public/images/bg-scroller-hover.png) left top repeat-x;
      position:absolute;
      height:40px;
      border-right:1px solid #e52b38;
      cursor:pointer;
      &:hover{
        background:url(/public/images/bg-scroller-hover.png) left top repeat-x;
        border-right:1px solid #e52b38;
        span{
          color:#e52b38;
        }
      }
      span{
        text-transform:uppercase;
        color:#e52b38;
        position:absolute;
        bottom:0;
        display:block;
        right:5px;
      }
    }
  }
  &.focus{
    .scroller{
      background:url(/public/images/bg-scroller-hover.png) left top repeat-x;
      border-right:1px solid #e52b38;
      span{
        color:#e52b38;
      }
    }
  }
}


.wrap-overlay{
  background:url(/public/images/sprite/bg-overlay.png) 0 0 repeat;
  background-repeat:repeat;
  position:absolute;
  width:100%;
  height:100%;
  z-index: 9999;
  .wrap-detail-player{
    position:absolute;
    top:50%;
    left:50%;
    margin:-240px 0 0 -400px;
    background:#fff;
    height:452px;
    width:772px;
    padding:14px;
    .photo{
      float:left;
      margin-right:14px;
    }
    .player-detail{
      width:377px;
      height:452px;
      overflow:hidden;
      float:left;
      border-left:1px dashed #8f8f8f;
      border-right:1px dashed #8f8f8f;
      padding:0 14px;
      .aux-detail{
        .name{
          line-height:1em;
          margin-bottom:20px;
          color:#e52b38;
          text-transform:uppercase;
          font:{
            size:2em;
          }
        }
        h3{
          font-weight:bold;
          line-height:1.3em;
          color:#686868;
          font:{
            size:1.4em;
          }
        }
        p{
          line-height:1.3em;
          margin-bottom:20px;
          color:#686868;
          font:{
            size:1.4em;
          }
        }
      }
    }
    .close{
      @include sprite-sprite(close);
      width:30px;
      height:31px;
      position:absolute;
      right:17px;
      top:14px;
      text-indent:-5000px;
    }
  }
}
// carousel gallery
.wrap-gallery-carousel{
  position:absolute;
  width:1440px;//da rendere dinamico
  left:0;
  top: 55%;
  margin-top:-101px;
  height:202px;
  overflow:hidden;
  .gallery-carousel{
    display: none;
    width:99999999px;
    position:absolute;
    height:202px;
    .item{
      float:left;
      width:268px;
      height:198px;
      border:2px solid #fff;
      // border-right:0;
      margin-right:10px;
      img{
        width:268px;
        height:198px;
      }
    }
  }
}

.gallery{
  menu{
    position:absolute;
    bottom:40px;
    right:45px;
  }

  .full-detail{
    position:absolute;
  }

  .detail-arrow{
    @include opacity(0);
    display: none;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -15px;
    height: 30px;
    > li{
      float: none;
      .next-page {
        position: absolute;
        right: 45px;
      }
      .prev-page {
        position: absolute;
        left: 45px;
      }
    }
  }
}

.gallery-close{
  background:#000;
  width:23px;
  height:23px;
  line-height:23px;
  text-align:center;
  color:#fff;
  position:absolute;
  top:43px;
  right:45px;
  text-transform: uppercase;
  font:{
    family:"ProximaNovaRegular";
    size:1.3em;
  };
  display:none;
  border: 1px solid #666;
}

.adv{
  .link-adv{
    position:absolute;
    top:50%;
    height:223px;
    margin-top:-110px;
    right:45px;
  }
}

// footer
@include sticky-footer(30px, "#wrapper", "#wrapper_footer", "#footer");

#footer{
  @include clearfix;
  background:#000;
  padding: 0 35px 0 20px;
  .change-language{
    float:right;
    line-height:30px;
    text-transform:uppercase;
    font:{
      size:0.9em;
    }
    .press{
      float:left;
      line-height:30px;
      font-size:1.2em;
      span{
        color:#bebebe;
        padding-right:10px;
        margin-right:10px;
        border-right:1px solid #bebebe;
      }
    }
    > h2{
      color:#4f4f4f;
      float:left;
    }
    > ul{
      float:left;
      > li{
        float:left;
        a{
          padding:0 5px;
          color:#bebebe;
          &:hover, &.active{
            color:#e52b38;
          }
          &.ita{
            border-right:1px solid #bebebe;
          }
        }
      }
    }
  }
  p{
    float:left;
    text-align:center;
    color:#4f4f4f;
    line-height:30px;
    float:left;
    font:{
      size:1em;
    }
  }
  .logo-prada{
    padding-right:20px;
    float:left;
    position:relative;
    line-height:30px;
    color:#4f4f4f;
    width:68px;
    margin-top:8px;
    margin-right:20px;
    border-right:1px solid #4f4f4f;
    span{
      @include sprite-sprite(logo-prada);
      width:68px;
      height:13px;
      display:block;
    }
  }
}


// loader

.loader{
  display:none;
  z-index:9999;
  @include sprite-sprite(loader);
  width:143px;
  height:141px;
  position:absolute;
  top:50%;
  left:50%;
  margin:-71px 0 0-71px;
  animation: loader 3s ease;
  -moz-animation: loader 3s; /* Firefox */
  -webkit-animation: loader 3s linear infinite; /* Safari and Chrome */
  rotation-point:50% 50%;
}

@-webkit-keyframes loader /* Safari and Chrome */
{
  0% { -webkit-transform: rotate(0);}
  100% { -webkit-transform: rotate(360deg);}
}

// tolto da intro 2013

::-webkit-scrollbar {
  width: 0.8em;
  height: 0.8em;
  background: #333;
  margin-right: 10px;
}

::-webkit-scrollbar:hover {
  background-color: #333;
  border: none;
}

::-webkit-resizer {
  -webkit-border-radius: 4px;
  background-color: #333;
  border: none;
}

::-webkit-scrollbar-thumb {
  min-height: 0.8em;
  min-width: 0.8em;
  background-color: #ececec;
  border: none;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ececec;
  border: none;
}

::-webkit-scrollbar-thumb:active {
  background-color:#ececec;
  border: none;
}