/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";
@import "compass/reset";
@import "compass/layout.scss";
@import "compass/css3";
@import "compass/utilities/general/";
@import "compass/utilities/sprites";
@import "sprite/*.png";


// include fonteface

@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('/public/lib/proximaRegular/proximanova-regular-webfont.eot');
    src: url('/public/lib/proximaRegular/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/lib/proximaRegular/proximanova-regular-webfont.woff') format('woff'),
         url('/public/lib/proximaRegular/proximanova-regular-webfont.ttf') format('truetype'),
         url('/public/lib/proximaRegular/proximanova-regular-webfont.svg#ProximaNovaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaBoldItalic';
    src: url('/public/lib/proximanova-bold-it/proximanova-boldit-webfont.eot');
    src: url('/public/lib/proximanova-bold-it/proximanova-boldit-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/lib/proximanova-bold-it/proximanova-boldit-webfont.woff') format('woff'),
         url('/public/lib/proximanova-bold-it/proximanova-boldit-webfont.ttf') format('truetype'),
         url('/public/lib/proximanova-bold-it/proximanova-boldit-webfont.svg#ProximaNovaBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'ITCAvantGardeGothicStdMdOb';
    src: url('/public/lib/avant-garde/itcavantgardestd-mdobl-webfont.eot');
    src: url('/public/lib/avant-garde/itcavantgardestd-mdobl-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/lib/avant-garde/itcavantgardestd-mdobl-webfont.woff') format('woff'),
         url('/public/lib/avant-garde/itcavantgardestd-mdobl-webfont.ttf') format('truetype'),
         url('/public/lib/avant-garde/itcavantgardestd-mdobl-webfont.svg#ITCAvantGardeGothicStdMdOb') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ITCAvantGardeGothicStdXLtOb';
    src: url('/public/lib/avant-garde/itcavantgardestd-xltobl-webfont.eot');
    src: url('/public/lib/avant-garde/itcavantgardestd-xltobl-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/lib/avant-garde/itcavantgardestd-xltobl-webfont.woff') format('woff'),
         url('/public/lib/avant-garde/itcavantgardestd-xltobl-webfont.ttf') format('truetype'),
         url('/public/lib/avant-garde/itcavantgardestd-xltobl-webfont.svg#ITCAvantGardeGothicStdXLtOb') format('svg');
    font-weight: normal;
    font-style: normal;

}


body {
  background:#fff;
  overflow:hidden;

  font:{
    family:'ProximaNovaRegular';
    size:10px;
  }
}

a{
  text-decoration:none;
}

#wrapper{
  overflow:hidden;
  width:100%;
  height:100%;
  position:relative;
}

#years-list {
  overflow:hidden;

  .single-year {
    overflow: hidden;
  }

  .container {
    width: 999999px
  }
}


.single-year .step .aux{
  height:100%;
  width:1440px; //da impostare dinamicamente
  background-position: center center;
  background-repeat:no-repeat;
  background-size: cover;
  float:left;
}

#navbar a {
  @include single-transition(color, 1s, ease-in-out, 0)
}

// white-element
.white{
  #navbar a{
    color:#fff;
  }
  .next-page{
    @include sprite-sprite(a-white-next);
  }
  .prev-page{
    @include sprite-sprite(a-white-prev);
  }
  &.intro .text-content .description{
    color:#fff;
  }
  &.step{
    header{
      .title{
        border-bottom:1px solid #fff;
      }
      .title, .subtitle {
        color:#fff;
      }
    }
    .wrap-sharing .fb a{
      @include sprite-sprite(facebook-white);
    }
    .wrap-sharing .tw a{
      @include sprite-sprite(twitter-white);
    }
    .wrap-sharing .title{
      border-right:1px solid #fff;
      color:#fff;
    }
  }
}

// grey-element
.grey{
  #navbar a{
    color:#686868;
  }
  .next-page{
    @include sprite-sprite(a-grey-next);
  }
  .prev-page{
    @include sprite-sprite(a-grey-prev);
  }
  &.intro .text-content .description{
    color:#686868;
  }
  &.step{
    header{
      .title{
        border-bottom:1px solid #686868;
      }
      .title, .subtitle {
        color:#686868;
      }
    }
    .wrap-sharing .fb a{
      @include sprite-sprite(facebook);
    }
    .wrap-sharing .tw a{
      @include sprite-sprite(twitter);
    }
    .wrap-sharing .title{
      border-right:1px solid #686868;
      color:#686868;
    }
  }
}

// esempio fullscreen
#y-2010 {

  .hp .aux{
    background-image: url('/public/images/2010/bg.jpg');

    .no-backgroundsize & {
      filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/public/images/2010/bg.jpg', sizingMethod='scale');
      -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/public/images/2010/bg.jpg', sizingMethod='scale')";
    }
  }

  .intro .aux{
    background-image: url('/public/images/2010/intro.jpg');
    .no-backgroundsize & {
      filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/public/images/2010/intro.jpg', sizingMethod='scale');
      -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/public/images/2010/intro.jpg', sizingMethod='scale')";
    }
  }

  .gallery .aux{
    background-image: url('/public/images/2010/gallery.jpg');
    .no-backgroundsize & {
      filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/public/images/2010/gallery.jpg', sizingMethod='scale');
      -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/public/images/2010/gallery.jpg', sizingMethod='scale')";
    }
  }

  .adv .aux{
    background-image: url('/public/images/2010/bg-adv.jpg');
    .no-backgroundsize & {
      filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/public/images/2010/bg-adv.jpg', sizingMethod='scale');
      -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/public/images/2010/bg-adv.jpg', sizingMethod='scale')";
    }
  }

}


#y-2011 {

  .hp .aux{
    background-image: url('/public/images/2011/bg.jpg');
    .no-backgroundsize & {
      filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/public/images/2011/bg.jpg', sizingMethod='scale');
      -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/public/images/2011/bg.jpg', sizingMethod='scale')";
    }
  }

  .intro .aux{
    background-image: url('/public/images/2011/intro.jpg');
    .no-backgroundsize & {
      filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/public/images/2011/intro.jpg', sizingMethod='scale');
      -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/public/images/2011/intro.jpg', sizingMethod='scale')";
    }
  }

  .gallery .aux{
    background-image: url('/public/images/2011/gall.jpg');
    .no-backgroundsize & {
      filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/public/images/2011/gall.jpg', sizingMethod='scale');
      -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/public/images/2011/gall.jpg', sizingMethod='scale')";
    }
  }

  .adv .aux{
    background-image: url('/public/images/2010/bg-adv.jpg');
    .no-backgroundsize & {
      filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/public/images/placeholder/pl-adv.jpg', sizingMethod='scale');
      -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/public/images/placeholder/pl-adv.jpg', sizingMethod='scale')";
    }
  }

}

// header
#header{
  position:absolute;
  width:100%;
  z-index:999;
  h1{
    position:absolute;
    top:44px;
    left:0;
    a.logo{
      display:block;
      width:392px;
      height:23px;
      text-indent:-5000px;
       @include sprite-sprite(logo);
    }
  }
  #navbar{
    position:absolute;
    right:25px;
    top:50px;
    ul{
      li{
        float:left;
        margin-right:35px;
        a{
          padding:0 3px 1px;
          font:{
            size:1.3em;
          }
        }
        &.active a, & a:hover{
          border-bottom:3px solid red;
        }
      }
    }
  }
}
// navigator element
.next-page, .prev-page{
  width:30px;
  height:31px;
  display:block;
  text-indent:-5000px;
  text-align:left;
}

.hp{
  z-index: 99;

  .text-intro{
    position:absolute;
    right:45px;
    top:40%;
    text-align:right;
    h1{
      color:#fff;
      text-transform:uppercase;
      font:{
        size:7em;
      }
    }
    .year{
      display:block;
      color:#fff;
      font:{
        size:6em;
      }
    }
    .next-page{
      float:right;
    }
  }
}


// contenuto condiviso tra le sezioni
.step{
  position:relative;
  float: left;
  overflow: hidden;
  .section-title{
    position:absolute;
    top:23%;
    right:45px;
    margin-top:-45px;
    height:70px;
    text-align:right;
    z-index: 9999;
    .title{
      line-height:1em;
      text-transform:uppercase;
      font:{
        size:3.7em;
      }
    }
    .subtitle{
      padding-top:10px;
      line-height:1em;
      text-transform:uppercase;
      font:{
        size:1.8em;
      }
    }
    &.fixed-header{
      position:fixed;
    }
  }
  .content{
    position:absolute;
    right:45px;
    text-align:right;
    top:65%;
    height:474px;
    margin-top:-237px;
    @media screen and (max-width: 1024px){
        // If screen res is 1024 or lower, then set grid width to 46px
        top:70%;
    }
    @media screen and (max-width: 1024px) and (orientation:portrait){
       top:50%;
    }
  }
  .wrap-sharing{
    width:120px;
    padding:30px 0 0 0;
    float:right;
    .title{
      float:left;
      padding-right:10px;
      margin-right:10px;
      text-transform:uppercase;
      font:{
        size:1.2em;
      }
    }
    ul li{
      float:left;
      a{
        display:block;
        text-indent:-99999px;
        text-align:left;
      }
      &.tw{margin-right:10px;}
      &.fb a{ width:5px; height:11px;}
      &.tw a{ width:14px; height:10px;}
    }
  }
  .section-arrow{
    padding-top:30px;
    clear:both;
    position:absolute;
    bottom:11%;
    margin-bottom:-15px;
    right:45px;
    li{
      list-style:none;
      float:left;
      .prev-page{
       margin-right:10px;
      }
    }
    &.fixed-menu{
      position: fixed;
      margin-bottom: 15px;
      z-index: 9999;
    }
    @media screen and (max-width: 1024px){
        // If screen res is 1024 or lower, then set grid width to 46px
        bottom:20%;
    }
  }
}

// contenuto relativo alla sezione intro
.intro{
  .text-content{
    width:520px;
    @media screen and (max-width: 1024px) and (orientation:portrait){
        width:300px;
    }
    clear:both;
    .description{
      line-height:1.5em;
      font:{
        size:1.4em;
      }
    }
  }
}

// contenuto relativo alla sezione bollettini
.bollettini{
  background:#fff;
  .bollettino{
    a{
      color:#686868;
    }
    .number{
      font:{
        size:1.4em;
        color:#686868;
      }
    }
    figure{
      padding:12px 0;
      img{
        border:1px solid #c0c0c0;
      }
    }
    figcaption{
      text-transform:uppercase;
      line-height:1.3em;
      font:{
        size:1.4em;
      }
    }
    &:hover figcaption{
      color:#e52b38;
    }
    date{
      position:absolute;
      bottom:0;
      font:{
        size:1.3em;
      }
    }
  }
}


.team{
  .aux{
    background:url(/public/images/bg-team.jpg) center center no-repeat;
  }
  .player{
    a{
      color:#fff;
    }
    figure{
      padding:0 0 12px 0;
      img{
        border:3px solid #c0c0c0;
      }
    }
    figcaption{
      text-transform:uppercase;
      text-align:left;
      line-height:1.3em;
      .name{
        font:{
          size:1.4em;
        }
      }
      .role{
        font:{
          size:1.1em;
        }
        color:#e52b38;
      }
    }
  }
}

.wrap-oriz-scroll{
  clear:both;
  padding-left:45px;
  .oriz-scroll{
    width:1350px;
    height:315px;
    overflow:hidden;
    position:relative;
    ul.wrap-items{
      width:999999px;
      position:absolute;
      left:0;
      height:315px;
      li.item{
        width:270px;
        padding:0 12px;
        border-left:1px solid #c0c0c0;
        float:left;
        height:315px;
        position:relative;
        .close{
          position:absolute;
          top:0;
          left:215px;
          text-transform:uppercase;
          color:#fff;
          background:#686868;
          padding:2px 5px;
          font:{
            size:1em;
          }
        }
        article{
          width:270px;
          float:left;
          height:315px;
        }
        .detail{
          float:left;
          padding:25px 0 0 12px;
          li{
            width:269px;
            height:290px;
            padding:0 12px;
            float:left;
            border-left:1px solid #f3f3f3;
            text-align:left;
            h3{
              color:#e52b38;
              line-height:1.2em;
              text-transform:uppercase;
              font:{
                size:1.4em;
              }
            }
            h4{
              color:#686868;
              font:{
                size:1.3em;
              }
              margin-bottom:25px;
            }
            p{
              color:#686868;
              line-height:1.5em;
              margin-bottom:25px;
              font:{
                size:1.2em;
              }
            }
          }
        }
      }
    }
  }
}

.wrap-scroll{
  clear:both;
  height:17px;
  padding-top:30px;
  .scroll{
    width:100%;
    background:url(/public/images/sprite/bg-scroll.png) 0 0 repeat-x;
    height:17px;
    position:relative;
    .scroller{
      background:url(/public/images/sprite/bg-scroller.png) left top repeat-x;
      position:absolute;
      height:40px;
      border-right:1px solid #d7d7d7;
      cursor:pointer;
      span{
        text-transform:uppercase;
        color:#d7d7d7;
        position:absolute;
        bottom:0;
        display:block;
        right:5px;
      }
    }
  }
}


.wrap-overlay{
  background:url(/public/images/sprite/bg-overlay.png) 0 0 repeat;
  background-repeat:repeat;
  position:absolute;
  width:100%;
  height:100%;
  .wrap-detail-player{
    position:absolute;
    top:50%;
    left:50%;
    margin:-240px 0 0 -400px;
    background:#fff;
    height:452px;
    width:772px;
    padding:14px;
    .photo{
      float:left;
      margin-right:14px;
    }
    .player-detail{
      width:377px;
      height:452px;
      overflow:hidden;
      float:left;
      border-left:1px dashed #8f8f8f;
      border-right:1px dashed #8f8f8f;
      padding:0 14px;
      .aux-detail{
        .name{
          line-height:1em;
          margin-bottom:20px;
          color:#e52b38;
          text-transform:uppercase;
          font:{
            size:2em;
          }
        }
        h3{
          font-weight:bold;
          line-height:1.3em;
          color:#686868;
          font:{
            size:1.4em;
          }
        }
        p{
          line-height:1.3em;
          margin-bottom:20px;
          color:#686868;
          font:{
            size:1.4em;
          }
        }
      }
    }
    .close{
      @include sprite-sprite(close);
      width:30px;
      height:31px;
      position:absolute;
      right:17px;
      top:14px;
      text-indent:-5000px;
    }
  }
}
// carousel gallery
.wrap-gallery-carousel{
  position:absolute;
  width:1440px;//da rendere dinamico
  left:0;
  top:55%;
  margin-top:-90px;
  height:181px;
  overflow:hidden;
  .gallery-carousel{
    width:99999999px;
    position:absolute;
    top:0;
    left:0;
    height:181px;
    .item{
      float:left;
      width:249px;
      height:177px;
      border:2px solid #fff;
      border-right:0;
      img{
        width:249px;
      }
    }
  }
}

.gallery{
  menu{
    position:absolute;
    bottom:40px;
    right:45px;
  }
}
.adv{
  .link-adv{
    position:absolute;
    top:60%;
    height:223px;
    margin-top:-110px;
    right:45px;
  }
}

// footer
@include sticky-footer(30px, "#wrapper", "#wrapper_footer", "#footer");

#footer{
  @include clearfix;
  background:#000;
  padding: 0 35px;
  p{
    color:#4f4f4f;
    line-height:30px;
    float:left;
    font:{
      size:1em;
    }
  }
  .logo-prada{
    float:right;
    position:relative;
    line-height:30px;
    color:#4f4f4f;
    span{
      @include sprite-sprite(logo-prada);
      position:absolute;
      width:68px;
      height:13px;
      display:block;
      right:0;
      top:8px;
    }
    padding-right:80px;
  }
}